
<ion-header>

  <ion-navbar>
    <ion-title>{{game.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	{{game.instructions}}


	<!-- Placeholder for special interactions, -Timer -->

	<ion-slides #arrowNav (ionSlideDidChange)="slideChanged()"> 
		<ion-slide>
			<div ngSwitch="{{game.gametype}}">
					<div *ngSwitchDefault>

					    <form [formGroup]="inputForm">
						    <ion-item>
						            <ion-label floating>Dein Ergebniss</ion-label>
						            <ion-input formControlName="score" type="text"></ion-input>
						    </ion-item>

						    <ion-input formControlName="game_id" type="hidden" value="{{game.id}}"></ion-input>
						    <button ion-button full color="primary" (click)="postScore()">Absenden</button>						 	
						</form>
					</div>

					<div *ngSwitchCase="'brave'" [ngClass]="'brave'">
						<button ion-button round [disabled]="!isRepeatable" (click)="postBool()">Challenge erfolgreich bestanden!</button>	
					</div>

					<div *ngSwitchCase="'time'" [ngClass]="'time'">

						<form [formGroup]="inputForm">

						    <ion-item>
						            <ion-label floating>Dein Ergebniss</ion-label>
						            <ion-input formControlName="score" type="text" disabled="true" value="{{time}}"></ion-input>
						    </ion-item>
						    <ion-input formControlName="game_id" type="hidden" value="{{game.id}}"></ion-input>

						    <button ion-button full color="primary" (click)="startTimer()">{{timeTxt}}</button>

						    <button ion-button full color="primary" (click)="postTime()" [disabled]="!canSend">Absenden</button>						 	
						</form>
					</div>


					
						
					
  				</div> 
		</ion-slide>



		<ion-slide>
			<button ion-button full color="primary" (click)="showTop5()">Bestenliste aktualisieren</button>
			<ion-list>

				<ion-item *ngFor="let score of scores">
			      {{score.name}} {{score.pivot.value}}
			    </ion-item>  

		  	</ion-list>
		</ion-slide> 
	</ion-slides> 

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>Dein aktuelles Ergebniss: {{cookie}}</ion-title>
<div *ngIf="game.gametype !='brave' && game.gametype !='estimate' ">

    <div right ngSwitch="{{position}}">
		<div *ngSwitchDefault [ngClass]="'zero'">
		<ion-buttons end>
        <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
		</div>

		<div *ngSwitchCase="'1'" [ngClass]="'one'">
			    <ion-buttons end>
        			<button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
      			</ion-buttons>
		</div>		
								
  	</div> 
</div>


  </ion-toolbar>
</ion-footer>